<section class="card blog-post" data-id="{{id}}" style="width: 80vw">
  <h2>{{title}}</h2>
  <div class="card-body post-content">
    <p>{{content}}</p>
    <p>By: {{user}}</p>
    <button class="delete-btn">Delete Blog Post</button>
  </div>
  <div class="comment-section">
    <!-- Existing comments will be appended here -->
  </div>
  <div class="comment-form">
    <input type="text" class="comment-input" placeholder="Add a comment..." />
    <button class="commentBtn">Add Comment</button>
  </div>
  <button class="toggle-comments-btn">Show Comments</button>
  <script src="./js/comment.js"></script>
</section>