    <div style="display: flex; justify-content: center; align-items: center; width: 80vw; height: 40vh;">
      <h2 style="font-size: 3.5rem; text-align: center;">Nothing's here! Click <a href="/new" style="color: blue;">here</a> to make a new blog post.</h2>
    </div>