<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BrewQuest</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>BrewQuest!</h1>
    <h3>Your Journey Through the World of Craft Beer</h3>
    <img src="/images/image.png" alt="beer icon" style="width: 250px; height: 250px;">
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard" style="color: black; hover: {color: white;}">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 90px; border: black 1px solid; background: var(--light);">
      <h2 style="font-size: 4rem;">What's Brewing?</h2>
    </div>
    <div  id="reviewModal" class="modal">
    <div class="modal-content">
    <span class="close" id="close-modal">&times;</span>
    <h2>Leave a Review!</h2>
    {{!-- <label for="rating">Rating (1-5):</label>
    <input type="number" id="rating" name="rating" min="1" max="5"> --}}
    <label class="title-label" for="title">Title:</label>
    <input class="title-input" type="text" id="title" name="title">
    <label class="review-label" for="review">Review:</label>
    <textarea class="review-input" id="review" name="review" maxlength="400"></textarea>
    <button id="submitReview">Submit Review</button>
  </div>
</div>
    <div class="blogs">
      {{{body}}}
    </div>
  </main>
    <footer style="display: flex; flex-direction: column; align-items: center;">
        <hr style="width: 90vw">
        <section id="con" class="contact" style="display: flex; flex-direction: column; align-items: center;">
            <h4>Contact</h4>
            <div style="display: flex; flex-direction: row; justify-content: center;">
            <a style="text-decoration: none; padding: 10px" href="https://djinjones.github.com">Github</a>
          </div>
        </section>
        <p>Designed with ❤️ from Coders Anonymous</p>
    </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        // Listen for chat messages
        socket.on('chatMessage', (msg) => {
            console.log('New message:', msg);
            // Update the chat section dynamically
            const chatSection = document.getElementById('chat-section');
            const newMessage = document.createElement('div');
            newMessage.textContent = msg;
            chatSection.appendChild(newMessage);
        });

        // Emit chat message event
        function sendMessage(msg) {
            socket.emit('chatMessage', msg);
        }
    </script>
  {{!-- <script src="/js/location.js"></script> --}}
  {{/if}}
</body>

</html>
