<div class="row justify-space-between-md"  style="width: 95vw; height: 60vh; overflow: auto;">
  <div class="new-post-card">
    <h2 class="page-title">Create a new post</h2>
    <form class="form" id="new-post-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="content">Post:</label>
        <input class="form-input" style="width: 400px; height: 200px;" type="text" id="content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>


<script src="./js/post.js"></script>